* {
  margin: 0;
}

body {
  background-color: #4d4049;
  color: #f3f1f3;
  margin: 0;
}

h1 {
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 35pt;
  text-align: center;
}

h2 {
  font-family: 'Merriweather', serif;
  font-weight: 300;
  font-size: 25pt;
  padding-bottom: 10px;
}

.about {
  margin: auto;
  text-align: center;
  padding-bottom: 15px;
}

.about-text {
  font-family: 'Spectral', serif;
  font-weight: 200;
  font-size: 12pt;
  margin: auto;
  text-align: left;
  width: 550px;
  padding-top: 0px;
}

#title {
  padding-bottom: 25px;
}

a {
  color: #ffdb4d;
  font-weight: bold;
  text-decoration: none;
}

#corner-icons {
  float: right;
  padding-right: 10px;
}

.fab, .fas {
  font-size: 36px;
  color: #ffdb4d;
  padding-right: 10px;
}

a:hover, .fab:hover, .fas:hover {
  color: #ff0077;
}
